thead,
tbody {
  display:table-header-group
}

tbody {
  height: 400px;
  overflow: auto;
}

td {
  /*border-right: solid 1px #f00;*/
  border: solid 1px #7b7b7b;

}

table{
  border-collapse: collapse;

  overflow-x:scroll;
  /*table-layout: fixed;*/
}

th {
  text-align: center;
}
/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

tr:hover {background-color: #f5f5f5;}

.map_area {
    border: 3px dotted;
    width: 100%;
}

.table_area {
    border: 3px dotted;
    width: 50%;
}

.vs_area {
    border: 3px dotted;
    width: 100%
}

.background {
    border: 5px solid;
    width: 1400px;
}

.vs_pane {
    width: 50%
}

#vs_table {
    width: 100%;
    horiz-align: center;
    vertical-align: center;
}

#left_pokemon_pane {

}

#right_pokemon_pane {

}

#left_dropdown {
    /*position: relative;*/
    /*left: 5%;*/
    /*right: 5%;*/
    width: 100%
}

#right_dropdown {
    width: 100%
}

/*#switch_container {*/
  /*display: flex;*/
  /*justify-content: center;*/
/*}*/

/*#vs_to_team_toggle {*/
    /*margin: 0 auto;*/
/*}*/